<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/lib/bootstrap-5.3.6-dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/css/app.css" />

    <title>@ViewBag.Titulo | e-Agenda</title>

    <style>
        .brand-title {
            text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
        <div class="container">
            <a class="navbar-brand fs-3 fw-bold brand-title" href="/">
                <i class="bi-journal-text me-2"></i>e-Agenda
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto d-flex gap-2">
                    <li class="nav-item">
                        <a href="/contatos" class="btn btn-outline-light rounded-pill">
                            <i class="bi bi-person-lines-fill me-1"></i> Contatos
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/compromissos" class="btn btn-outline-light rounded-pill">
                            <i class="bi bi-calendar-check me-1"></i> Compromissos
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/categorias" class="btn btn-outline-light rounded-pill">
                            <i class="bi bi-tags me-1"></i> Categorias
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/despesas" class="btn btn-outline-light rounded-pill">
                            <i class="bi bi-cash-coin me-1"></i> Despesas
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/tarefas" class="btn btn-outline-light rounded-pill">
                            <i class="bi bi-list-check me-1"></i> Tarefas
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="container my-4">
        <h2 class="fw-bold">@ViewBag.Titulo</h2>
    </header>


    <main class="container my-4">
        @RenderBody()
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/ativacaoNavbar.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
