@{
    Layout = "_Layout";
}

<style>
    .btn-duo {
        background-color: #a8d5a3; 
        color: #264d00;
        border: none;
        padding: 12px 30px; 
        border-radius: 8px; 
        font-weight: 600;
        font-size: 1.1rem;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .btn-duo:hover, .btn-duo:focus 
    {
        background-color: #8bc374; 
        color: #183800;
        box-shadow: 0 0 10px #8bc374;
    }


</style>
<div class="container">
    <div class="row align-items-center">
        <div class="col-12 col-lg-6 py-lg-5">
            <h2 class="mt-5 text-dark fs-1 fw-bold">Seja bem-vindo/a!</h2>

           
            <p class="fs-4 mt-4 text-secondary-emphasis">DuoBingo — Plataforma Inteligente para Criar Testes e Provas Personalizadas com Matérias e Disciplinas Específicas, Facilitando o Ensino e a Avaliação Sob Medida</p>
            <p class="fs-4 mt-4 text-secondary-emphasis">Clique em uma das opções abaixo para prosseguir:</p>

            <div class="d-flex gap-3">
              
                <div class="d-flex flex-column gap-3">
                    <a href="/disciplinas" class="btn btn-duo">Disciplinas</a>
                    <a href="/questoes" class="btn btn-duo">Questões</a>
                </div>

               
                <div class="d-flex ms-5 flex-column gap-3">
                    <a href="/materias" class="btn btn-duo">Matérias</a>
                    <a href="/testes" class="btn btn-duo">Testes</a>
                </div>
            </div>
        </div>

        <div class="mt-5 col-lg-6 text-center">
            <img src="~/images/transferir.png" class="img-fluid" alt="Imagem calendário online" />
        </div>
    </div>
</div>
