@{
    Layout = "_Layout";
}
<div class="container">
    <div class="row align-items-center">
        <div class="col-12 col-lg-6 py-lg-5">
            <h2 class="text-dark fs-1 fw-bold">Seja bem-vindo/a!</h2>

           
            <p class="fs-4 mt-4 text-secondary-emphasis">Nosso sistema foi cuidadosamente desenvolvido para oferecer uma solução completa de gestão pessoal e profissional, contemplando módulos essenciais para organização e produtividade.</p>
            <p class="fs-4 mt-4 text-secondary-emphasis">Clique em uma das opções abaixo para prosseguir:</p>

           <div class=" d-flex gap-3">
            <div class="d-grid d-lg-flex flex-wrap gap-2">
                <a href="/contatos" class="btn btn-dark fw-semibold px-5 rounded-3">Contatos</a>
            </div>

            <div class="d-grid d-lg-flex flex-wrap gap-2">
                <a href="/compromissos" class="btn btn-dark fw-semibold px-5 rounded-3">Compromissos</a>
            </div>

                <div class="d-grid d-lg-flex flex-wrap gap-2">
                    <a href="/categorias" class="btn btn-dark fw-semibold px-5 rounded-3">Categorias</a>
                </div>
            </div>

            <div class=" d-flex mt-3 gap-3">
                <div class="d-grid d-lg-flex flex-wrap gap-2">
                    <a href="/despesas" class="btn btn-dark fw-semibold px-5 rounded-3">Despesas</a>
                </div>

                <div class="d-grid d-lg-flex flex-wrap gap-2">
                    <a href="/tarefas" class="btn btn-dark fw-semibold px-5 rounded-3">Tarefas</a>
                </div>

                <div class="d-grid d-lg-flex flex-wrap gap-2">
                    <a href="/categorias" class="btn btn-dark fw-semibold px-5 rounded-3">Itens</a>
                </div>
            </div>
        </div>

        <div class="mt-5 col-lg-6 text-center">
            <img src="~/images/undraw_calendar_8r6s.svg" class="img-fluid" alt="Imagem calendário online" />
        </div>
    </div>
</div>
